.sheets {
    margin: 5%;
}

.table-responsive {
    width: 90%;
}

tr td, tr th {
    vertical-align: middle;
    text-align: center;
}

.search-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

form input {
    width: 80%;
}

td i {
    color: rgba(85, 85, 85, 0.89);
    margin-right: 10px;
    cursor: pointer;
}

td i:hover {
    color: black;
}

.pagination {
    float: right;
}

.pagination /deep/ .ngx-pagination .current {
    background: #28a745;
}