<div class="search-container">
  <form (ngSubmit)="search(text.value)">
    <input #text type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<div class="sheets table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Instrument</th>
          <th scope="col">Sheet</th>
          <th scope="col">Uploaded date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sheet of latestSheets">
            <td scope="col">{{ sheet.title }}</td>
            <td scope="col">{{ sheet.name }}</td>
            <td scope="col">{{ sheet.instrument }}</td>
            <td scope="col"><a target="_blank" [attr.href]="sheet.sheet">Open</a></td>
            <td scope="col">{{ sheet.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
            <td scope="col">
              <i class="fa fa-edit" (click)="edit(song)"></i> | 
              <i class="fa fa-ban" (click)="delete(song)"></i>
            </td>
        </tr>
      </tbody>
    </table>
</div>
