.card-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

.members {
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: 0;
}

.arrows {
    display: inline-flex;
    width: 90%;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.right {
    float: right;
}

.arrows i {
    margin-top: 15%;
}