<div class="songs table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Video</th>
          <th scope="col">Title</th>
          <th scope="col">Album</th>
          <th scope="col">Created date</th>
          <th scope="col">Description</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th scope="col">{{i + 1}}</th>
            <td scope="col" class="video">
              <iframe width="280" height="144" [src]='safeUrl(song.youtube)' frameborder="0" allowfullscreen></iframe>
            </td>
            <td scope="col">{{ song.title }}</td>
            <td scope="col">{{ song.album }}</td>
            <td scope="col">{{ song.publishingDate | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
            <td scope="col">{{ song.description }}</td>
            <td scope="col">{{ song.type }}</td>
            <td scope="col">
              <i class="fa fa-pencil" (click)="edit(song)"></i> 
              <i class="fa fa-times" (click)="delete(song)"></i> 
              <i class="fa fa-th-large" (click)="album(song)"></i>
            </td>
          </tr>
      </tbody>
    </table>
    <pagination-controls class="pagination" 
        (pageChange)="p = $event"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        previousLabel=""
        nextLabel="">
    </pagination-controls>
</div>
