.songs {
    margin: 5%;
}

.table-responsive {
    width: 90%;
}

.video {
    width: 450px;
}

tr td, tr th {
    vertical-align: middle;
    text-align: center;
}

td i {
    color: rgba(85, 85, 85, 0.89);
    margin-right: 10px;
    cursor: pointer;
}

td i:hover {
    color: black;
}

.pagination {
    float: right;
}

.pagination /deep/ .ngx-pagination .current {
    background: #28a745;
}