<ngx-spinner bdColor="rgba(70, 70, 70, 0.8)" size="medium" color="#fff" type="line-scale"></ngx-spinner>
<div class="navbar">
    <ul class="buttons">
        <li><a routerLink='/dashboard'><img src="/assets/inverted-favicon.png" style="height: 25px;"></a></li>
        <li>
            <div class="search">
                <input class="form-control" type="text" placeholder="Search" id="searchText" #searchText (keyup)="onKeyUp(searchText.value)" (keydown.enter)="search(searchText.value)">
            </div>
        </li>
        <li class="right" title="Log out">
            <p [routerLink]="['/login']">
                <span class="right"><i class="fa fa-share"></i></span>
            </p>
        </li>
        <li class="right" title="About"><a routerLink='/about'><i class="fa fa-reorder"></i></a></li>
        <li class="right"><a routerLink='/song/songs'>Songs</a></li>
        <li class="right"><a routerLink='/my-band/band'>My band</a></li>
        <li class="right" data-toggle="tooltip" data-placement="bottom" [attr.title]="currentUser | userdetails">
            <a routerLink='/my-data'><img class="profile" src="{{ currentUser.profilePicture === null ? '/assets/user-placeholder.png' : currentUser.profilePicture }}">{{ currentUser.name }}</a>
        </li>
        <li *ngIf="!actionsVisible" class="right" title="Show actions"><span (click)="this.actionsVisible = true"><i class="fa fa-caret-left"></i></span></li>
        <span *ngIf="actionsVisible" class="actions">
            <li class="right" title="Hide actions"><span (click)="this.actionsVisible = false"><i class="fa fa-caret-right"></i></span></li>
            <li class="right" title="Write new lyrics"><span (click)="showLyrics(sheet)"><i class="fa fa-text-width"></i></span></li>
            <li class="right" title="Create new event"><span (click)="showEvent(event)"><i class="fa fa-calendar"></i></span></li>
            <li class="right" title="Add new music"><span (click)="showSong(song)"><i class="fa fa-music"></i></span></li>
            <li class="right" title="Upload new sheet"><span (click)="showSheet(sheet)"><i class="fa fa-file-pdf-o"></i></span></li>
            <li class="right" title="Create new post"><span (click)="showAdvertisement(advertisement)"><i class="fa fa-comment-o"></i></span></li>
        </span>
    </ul>
</div>

<ng-template #advertisement let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Write something</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && postData.title.errors }" />
                <div *ngIf="submitted && postData.title.errors" class="invalid-feedback">
                <div *ngIf="postData.title.errors.required">Title is required</div>
                    <div *ngIf="postData.title.errors">Invalid title</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" formControlName="category" id="category">
                    <option value="Advertisement">Advertisement</option>
                    <option value="Event">Event</option>
                    <option value="Curiosity">Curiosity</option>
                    <option value="Other">Other</option>
                  </select>
                <div *ngIf="submitted && postData.category.errors" class="invalid-feedback">
                <div *ngIf="postData.category.errors.required">Category is required</div>
                    <div *ngIf="postData.category.errors">Invalid category</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && postData.description.errors }"></textarea>
                <div *ngIf="submitted && postData.description.errors" class="invalid-feedback">
                <div *ngIf="postData.description.errors.required">Description is required</div>
                    <div *ngIf="postData.description.errors">Invalid description</div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-success" (click)="upload.click()">Upload picture</button>
                <input hidden type="file" #upload (change)="uploadPicture($event)" accept="application/jpg">
                <p *ngIf="postImg != null">{{ postImg.name }}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ngbAutofocus (click)="submitAdvertisement(); modal.close();">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(); postImg = null;">Cancel</button>
        </div>
    </form>
</ng-template>

<ng-template #song let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new song</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && songData.title.errors }" />
                <div *ngIf="submitted && songData.title.errors" class="invalid-feedback">
                <div *ngIf="songData.title.errors.required">Title is required</div>
                    <div *ngIf="songData.title.errors">Invalid title</div>
                </div>
            </div>
            <div class="form-group">
                <label for="album">Album</label>
                <input type="text" formControlName="album" class="form-control" [ngClass]="{ 'is-invalid': submitted && songData.album.errors }" />
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" formControlName="category" id="category">
                    <option value="Own">Own</option>
                    <option value="Cover">Cover</option>
                    <option value="Parody">Parody</option>
                </select>
                <div *ngIf="submitted && songData.category.errors" class="invalid-feedback">
                <div *ngIf="songData.category.errors.required">Category is required</div>
                    <div *ngIf="songData.category.errors">Invalid category</div>
                </div>
            </div>
            <div class="form-group">
                <label for="publishingDate">Publishing date</label>
                <input type="date" formControlName="publishingDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && songData.publishingDate.errors }" />
                <div *ngIf="submitted && songData.publishingDate.errors" class="invalid-feedback">
                <div *ngIf="songData.publishingDate.errors.required">Date is required!</div>
                    <div *ngIf="songData.publishingDate.errors.publishingDate">Invalid date!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="youtube">Youtube link</label>
                <input type="text" formControlName="youtube" class="form-control" [ngClass]="{ 'is-invalid': submitted && postData.youtube.errors }" />
                <div *ngIf="submitted && postData.youtube.errors" class="invalid-feedback">
                <div *ngIf="postData.youtube.errors.required">Youtube link is required</div>
                    <div *ngIf="postData.youtube.errors">Invalid youtube link</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && songData.description.errors }"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ngbAutofocus (click)="submitSong(); modal.close();">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        </div>
    </form>
</ng-template>

<ng-template #sheet let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upload new sheet</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="sheetForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && sheetData.title.errors }" />
                <div *ngIf="submitted && sheetData.title.errors" class="invalid-feedback">
                <div *ngIf="sheetData.title.errors.required">Title is required</div>
                    <div *ngIf="sheetData.title.errors">Invalid title</div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <textarea type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && sheetData.name.errors }"></textarea>
                <div *ngIf="submitted && sheetData.name.errors" class="invalid-feedback">
                <div *ngIf="sheetData.name.errors.required">Name is required</div>
                    <div *ngIf="sheetData.name.errors">Invalid name</div>
                </div>
            </div>
            <div class="form-group">
                <label for="instrument">Instrument</label>
                <input type="text" formControlName="instrument" class="form-control" [ngClass]="{ 'is-invalid': submitted && sheetData.instrument.errors }" />
                <div *ngIf="submitted && sheetData.instrument.errors" class="invalid-feedback">
                <div *ngIf="sheetData.instrument.errors.required">Instrument is required</div>
                    <div *ngIf="sheetData.instrument.errors">Invalid instrument</div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-success" (click)="sheetUpload.click()">Upload sheet</button>
                <input hidden type="file" #sheetUpload (change)="uploadSheet($event)" accept="application/pdf">
                <p *ngIf="sheetFile != null">{{ sheetFile.name }}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="sheetFile == null" ngbAutofocus (click)="submitSheet(); modal.close();">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(); sheetFile = null;">Cancel</button>
        </div>
    </form>
</ng-template>

<ng-template #event let-close="close">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <div class="form-group title">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && eventData.title.errors }" />
                <div *ngIf="submitted && eventData.title.errors" class="invalid-feedback">
                <div *ngIf="eventData.title.errors.required">Title is required</div>
                    <div *ngIf="eventData.title.errors">Invalid title</div>
                </div>
            </div>
            <button type="button" class="close" (click)="close(); this.activeDayIsOpen = false;">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="date-group">
            <div class="form-group half">
                <label for="start">Start</label>
                <input type="date" formControlName="start" class="form-control" [ngClass]="{ 'is-invalid': submitted && eventData.start.errors }" />
                <div *ngIf="submitted && eventData.start.errors" class="invalid-feedback">
                <div *ngIf="eventData.start.errors.required">Start date is required</div>
                    <div *ngIf="eventData.start.errors">Invalid start date</div>
                </div>
            </div>
            <div class="form-group half">
                <label for="end">End</label>
                <input type="date" formControlName="end" class="form-control" [ngClass]="{ 'is-invalid': submitted && eventData.end.errors }" />
                <div *ngIf="submitted && eventData.end.errors" class="invalid-feedback">
                <div *ngIf="eventData.end.errors.required">End date is required</div>
                    <div *ngIf="eventData.end.errors">Invalid end date</div>
                </div>
            </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && eventData.description.errors }"></textarea>
                <div *ngIf="submitted && eventData.description.errors" class="invalid-feedback">
                <div *ngIf="eventData.description.errors.required">Description is required</div>
                    <div *ngIf="eventData.description.errors">Invalid description</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ngbAutofocus (click)="submitEvent(); close();">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
        </div>
    </form>
</ng-template>