h2 {
    text-align: center;
    margin-bottom: 20px;
}

.albums {
    max-height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.picture img {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.centerize {
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

.details {
    margin-top: 5%;
    width: 300px;
}

.selected-album, .song-list, .album-list {
    width: 50%;
}

.album-list {
    border-right: 1px solid rgba(112, 112, 112, 0.418);
}

.song-list, .album-list {
    margin-top: 30px;
}

.list {
    width: 500px;
}

.song-list .list img {
    width: 50px;
    border-radius: 50%;
}

.album-list .list img {
    width: 80px;
    border-radius: 50%;
}

.list p {
    cursor: pointer;
}

.list p span {
    margin-left: 20px;
    margin-right: 20px;
}

.song i {
    margin-right: 15px;
    position: relative;
    transform: translate(0%, 100%);
    color: rgba(112, 112, 112, 0.418);
}

.album i {
    margin-right: 15px;
    position: relative;
    top: 32px;
    color: rgba(112, 112, 112, 0.418);
}

.song i:hover, .album i:hover {
    color: rgba(71, 71, 71, 0.9);
}

.song:hover, .song:active {
    background-color: rgba(201, 201, 201, 0.5);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.album:hover, .album:active {
    background-color: rgba(201, 201, 201, 0.5);
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

h4 {
    text-align: center;
    margin-bottom: 15px;
}

.add {
    margin-top: 40px;
    height: 40px;
}

.add i {
    position: relative;
    left: 50%;
    transform: translate(0%, -50%);
    color: rgba(112, 112, 112, 0.418);
    font-size: 2em;
}

.add i:hover {
    color: rgba(112, 112, 112, 0.9);
}

.new-song input {
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.new-song button {
    margin-left: 100px;
}

.new-song {
    display: inline-flex;
    width: 500px;
}

.title {
    width: 60%;
}

.data {
    width: 45%;
    margin-right: 5%;
}

.cover-photo {
    width: 45%;
    margin-left: 5%;    
}

.cover-photo img {
    width: 300px;
    height: 300px;
}

.modal-body {
    display: flex;
}

.button-container button {
    float: right;
}

.description {
    margin-left: 100px;
    margin-right: 50px;
}