h3 {
    margin: 0 0 10px;
}
  
pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.calendar-wrapper {
    padding-top: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

.half {
    width: 45%;
    margin-right: 10%;
}

.date-group {
    display: flex;
}

.title {
    width: 60%;
}

.cal-event-action i {
    color: #000;
}