<div class="navigation-container">
    <button class="nav-button" routerLink="/song/songs" routerLinkActive="active">Songs</button>
    <button class="nav-button" routerLink="/song/albums" routerLinkActive="active">Albums</button>
    <button class="nav-button" routerLink="/song/sheets" routerLinkActive="active">Sheets</button>
    <button class="nav-button" routerLink="/song/lyrics" routerLinkActive="active">Lyrics</button>
    <button class="nav-button" routerLink="/song/AI" routerLinkActive="active">AI (coming soon)</button>
</div>
<router-outlet></router-outlet>