.navigation-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 60px; 
    margin: 0 auto;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.418);
}

.nav-button {
    border: 1px solid transparent;
    color: rgba(112, 112, 112, 0.418);
    background: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    margin-bottom: -1px;
}

.nav-button.active {
    color: #333;
    border-bottom: 1px solid #333;
}

.nav-button:hover {
    color: #333;
    border-bottom: 1px solid #333;
}